@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.b-nav__toggle::before, .b-socials__item::before, .b-sidebar__views::before, .b-metrics__comments::before, .b-metrics__views::before, .b-metrics__likes::before, .b-metrics__dislikes::before, .b-comments__count::before, .b-comment__likes::before, .b-comment__dislikes::before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  background-color: #fff;
  color: #363636;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

.container {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.b-header__inner, .b-main__inner, .b-sidebar__categories, .b-metrics__inner, .b-doctorQuote__head, .b-results__bottom, .b-results__before, .b-results__after {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.b-header__left, .b-header__right, .b-main__content, .b-main__sidebar, .b-sidebar__category, .b-metrics__left, .b-metrics__right, .b-doctorQuote__ava, .b-doctorQuote__info, .b-results__before span,
.b-results__before b, .b-results__after span,
.b-results__after b {
  display: table-cell;
  vertical-align: top;
}

.b-header {
  background-color: #000;
  padding: 8px 0;
  font-weight: 800;
  color: #fff;
  font-size: 11px;
}

.b-header__logo {
  position: relative;
  top: 4px;
}

.b-header__left, .b-header__right {
  vertical-align: middle;
}

.b-header__right {
  text-align: right;
}

.b-header__time {
  color: #ff1d3d;
  margin-right: 10px;
}

.b-nav {
  position: relative;
}

.b-nav__list {
  padding: 13px 0;
}

.b-nav__link {
  color: #282828;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.b-nav__link + .b-nav__link {
  margin-left: 25px;
}

.b-nav__link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 1px;
  height: 2px;
  background-color: #ff1d3d;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.b-nav__link:hover::after, .b-nav__link.active::after {
  opacity: 1;
  width: 100%;
}

.b-nav__toggle {
  display: inline-block;
  width: 34px;
  height: 18px;
  background-image: url(../img/nav-toggle.png);
  position: absolute;
  bottom: -16px;
  left: 50%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 14px;
}

.b-nav__toggle::before {
  content: '\e907';
  font-size: 10px;
}

.b-hero {
  margin-top: -140px;
}

.b-hero__title {
  margin: 10px;
  font-size: 42px;
  line-height: 1.3;
  color: #fff;
  text-transform: uppercase;
  font-family: "Panton-BlackCaps", sans-serif;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  left: 0;
}

.b-hero__title span {
  background-color: #ff1d3d;
  padding: 0 10px;
  display: inline-block;
  margin: 2px 0;
}

.b-hero__inner {
  position: relative;
  overflow: hidden;
  font-size: 0;
}

.b-hero__magazineName {
  position: absolute;
  top: -51px;
  left: -44px;
  width: 172px;
  height: 146px;
  background-image: url(../img/corner.png);
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: rotate(-52deg);
  -ms-transform: rotate(-52deg);
  transform: rotate(-52deg);
  padding-top: 105px;
  padding-left: 30px;
  font-family: "Panton-BlackCaps", sans-serif;
}

.b-hero__magazineName span {
  font-family: "Panton-LightCaps", sans-serif;
}

.b-hero__magazineName span,
.b-hero__magazineName b {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.b-hero__watermark {
  position: absolute;
  bottom: 5px;
  right: 0;
  display: inline-block;
  padding: 7px 15px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
}

.b-breadcrumbs {
  display: none;
}

.b-socials {
  background-color: #eeedec;
  padding-top: 15px;
  padding-bottom: 150px;
  font-size: 0;
}

.b-socials__item {
  text-decoration: none;
  display: inline-block;
}

.b-socials__item::before {
  font-size: 15px;
  color: #ff1d3d;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.b-socials__item + .b-socials__item {
  margin-left: 15px;
}

.b-socials__item:hover::before {
  color: #000;
}

.b-socials__item--facebook::before {
  content: '\e900';
}

.b-socials__item--twitter::before {
  content: '\e902';
}

.b-socials__item--instagram::before {
  content: '\e901';
}

.b-socials__item--vk::before {
  content: '\e905';
}

.b-socials__item--youtube::before {
  content: '\e903';
}

.b-socials__item--yandex::before {
  content: '\e904';
}

.b-socials__item--rss::before {
  content: '\e906';
}

.b-main__sidebar {
  width: 325px;
  padding-left: 40px;
}

.b-sidebar__title {
  font-size: 18px;
  font-family: "Panton-BlackCaps", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  color: #ff1d3d;
  background-color: #000;
  padding: 10px 18px;
}

.b-sidebar__category {
  font-weight: 800;
  font-size: 12px;
  padding: 10px 5px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #eeedec;
}

.b-sidebar__category + .b-sidebar__category {
  border-left: 1px solid #eeedec;
}

.b-sidebar__category.active {
  border-bottom: none;
}

.b-sidebar__category:hover, .b-sidebar__category.active {
  color: #ff1d3d;
}

.b-sidebar__content {
  border: 1px solid #eeedec;
  border-top: none;
}

.b-sidebar__list {
  padding: 20px;
}

.b-sidebar__item {
  display: block;
  font-size: 12px;
  color: #444444;
  text-decoration: none;
  font-weight: 700;
}

.b-sidebar__item + .b-sidebar__item {
  margin-top: 22px;
}

.b-sidebar__item:hover .b-sidebar__link {
  color: #ff1d3d;
}

.b-sidebar__views {
  display: block;
  font-weight: 800;
}

.b-sidebar__views::before {
  content: '\e90a';
  color: #ff1d3d;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.b-sidebar__more {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  color: #ff1d3d;
}

.b-sidebar__more:hover {
  text-decoration: underline;
}

.b-metrics {
  margin-top: 13px;
}

.b-metrics__left, .b-metrics__right {
  vertical-align: bottom;
}

.b-metrics__right {
  text-align: right;
}

.b-metrics__comments {
  width: 50px;
  height: 32px;
  background-color: #ff1d3d;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.b-metrics__comments::before {
  content: '\e908';
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.b-metrics__tag {
  font-size: 13px;
  line-height: 1;
  color: #ff1d3d;
  font-family: "Panton-BlackCaps", sans-serif;
  text-transform: uppercase;
  vertical-align: bottom;
}

.b-metrics__views, .b-metrics__likes, .b-metrics__dislikes {
  display: inline-block;
  vertical-align: bottom;
  color: #999;
  line-height: 1;
}

.b-metrics__views::before, .b-metrics__likes::before, .b-metrics__dislikes::before {
  line-height: 1;
  color: #ff1d3d;
  display: inline-block;
  margin-right: 5px;
  margin-left: 8px;
}

.b-metrics__views::before {
  content: '\e90a';
}

.b-metrics__likes::before {
  content: '\e909';
}

.b-metrics__dislikes::before {
  content: '\e909';
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
  position: relative;
  top: 3px;
}

.b-content__lead {
  font-size: 18px;
  font-weight: 700;
}

.b-content__pics {
  font-size: 0;
  overflow: auto;
}

.b-content__img {
  display: inline-block;
  width: 49%;
}

.b-content__img:nth-child(even) {
  float: right;
  margin-left: 2%;
}

.b-content__text a {
  color: #ff1d3d;
  font-weight: 700;
}

.b-content__text a:hover {
  color: #000;
}

.b-doctorQuote {
  margin: 25px 0;
  padding-bottom: 18px;
  padding-left: 35px;
  border-left: 15px solid #ff1d3d;
}

.b-doctorQuote__head {
  margin-bottom: 18px;
}

.b-doctorQuote__ava, .b-doctorQuote__info {
  vertical-align: bottom;
}

.b-doctorQuote__ava {
  width: 70px;
  font-size: 0;
}

.b-doctorQuote__info {
  padding-left: 20px;
  font-size: 18px;
}

.b-doctorQuote__name {
  font-weight: 800;
  display: block;
}

.b-doctorQuote__text {
  margin: 0;
  font-size: 18px;
  font-style: italic;
}

.b-link {
  display: table;
  margin: 25px auto;
  text-align: center;
  color: #000;
  border-bottom: 2px solid #ff1d3d;
}

.b-link a {
  color: inherit;
  font-size: 24px;
  font-family: "Panton-BlackCaps", sans-serif;
  font-weight: 800;
  text-decoration: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.b-link:hover {
  color: #ff1d3d;
  border-color: #000;
}

.b-results {
  font-size: 0;
}

.b-results__item {
  display: inline-block;
  width: 23.5%;
  height: 280px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}

.b-results__item + .b-results__item {
  margin-left: 2%;
}

.b-results__item--1 {
  background-image: url(../img/results1.jpg);
}

.b-results__item--2 {
  background-image: url(../img/results2.jpg);
}

.b-results__item--3 {
  background-image: url(../img/results3.jpg);
}

.b-results__item--4 {
  background-image: url(../img/results4.jpg);
}

.b-results__name {
  display: inline-block;
  background-color: #ff1d3d;
  font-size: 16px;
  font-weight: 700;
  font-family: "Panton-BlackCaps", sans-serif;
  line-height: 1;
  padding: 5px;
  margin-right: 8px;
}

.b-results__role {
  text-transform: lowercase;
}

.b-results__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #232325;
  color: #fff;
}

.b-results__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Panton-BlackCaps", sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 1.7;
}

.b-results__before, .b-results__after {
  width: 50%;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-results__before span, .b-results__after span {
  width: 22px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.b-results__before {
  background-color: #232325;
}

.b-results__after {
  background-color: #ff1d3d;
  left: 50%;
}

.b-comments__header {
  padding-bottom: 10px;
  position: relative;
}

.b-comments__count {
  position: absolute;
  top: 5px;
  right: 0;
  color: #999;
  font-size: 13px;
}

.b-comments__count::before {
  content: '\e908';
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 9px;
  background-color: #ff1d3d;
  padding: 6px 8px 4px;
  margin-right: 8px;
}

.b-comments__title {
  font-size: 18px;
  margin: 0;
}

.b-comments__list {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.b-comments__item {
  margin: 35px 0;
}

.b-comment__ava {
  display: inline-block;
  width: 40px;
  margin-right: 20px;
  vertical-align: baseline;
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.b-comment__ava img {
  width: 40px;
}

.b-comment__ava::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -5px;
  width: 14px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #ff1d3d;
}

.b-comment__name {
  font-size: 16px;
  font-weight: 800;
  color: #000;
  vertical-align: baseline;
  margin-right: 20px;
}

.b-comment__date {
  font-size: 11px;
  color: #999;
  vertical-align: baseline;
}

.b-comment__text {
  margin: 15px 0;
}

.b-comment__text a {
  color: #ff1d3d;
  font-weight: 700;
}

.b-comment__text a:hover {
  color: #000;
}

.b-comment__img {
  margin-bottom: 15px;
}

.b-comment__footer {
  color: #999;
  font-size: 13px;
}

.b-comment__likes, .b-comment__dislikes {
  display: inline-block;
  color: #999;
  line-height: 1;
  margin-right: 15px;
}

.b-comment__likes::before, .b-comment__dislikes::before {
  line-height: 1;
  color: #ff1d3d;
  display: inline-block;
  margin-right: 5px;
}

.b-comment__likes::before {
  content: '\e909';
}

.b-comment__dislikes::before {
  content: '\e909';
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
  position: relative;
  top: 3px;
}

.b-comment__reply {
  margin-right: 15px;
}

.b-comment__reply, .b-comment__more {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.b-comment__reply:hover, .b-comment__more:hover {
  text-decoration: underline;
}

.b-comment--reply {
  margin-left: 60px;
}

.b-footer {
  margin-top: 30px;
  padding: 30px 0;
  text-align: center;
}

.b-footer__copyright {
  margin: 0;
  font-size: 14px;
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 640px;
  }
  .b-header {
    text-align: center;
  }
  .b-header__right {
    display: none;
  }
  .b-nav {
    display: none;
  }
  .b-socials {
    display: none;
  }
  .b-breadcrumbs {
    display: block;
    background-color: #eeedec;
    padding-top: 15px;
    padding-bottom: 150px;
  }
  .b-breadcrumbs__item {
    font-size: 12px;
    color: #000;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
  }
  .b-breadcrumbs__item:last-child {
    color: #ff1d3d;
  }
  .b-breadcrumbs__item:last-child::before {
    content: '/';
    display: inline-block;
    margin: 0 5px;
  }
  .b-hero__watermark {
    display: none;
  }
  .b-hero__title {
    margin: 0;
    position: relative;
    bottom: auto;
    left: auto;
    font-size: 21px;
    background-color: #ff1d3d;
    padding: 10px;
  }
  .b-hero__title span {
    display: inline;
    padding: 0;
    background-color: transparent;
  }
  .b-hero__magazineName {
    width: 141px;
    height: 121px;
    top: -42px;
    left: -35px;
    padding-top: 83px;
    padding-left: 28px;
  }
  .b-hero__magazineName span,
  .b-hero__magazineName b {
    font-size: 13px;
  }
  .b-main__sidebar {
    display: none;
  }
  .b-metrics__comments {
    width: 38px;
    height: 26px;
  }
  .b-metrics__tag {
    font-size: 11px;
  }
  .b-metrics__right {
    font-size: 13px;
  }
  .b-doctorQuote {
    border-left-width: 5px;
    padding-left: 20px;
  }
  .b-content__pics--onMobileVertical .b-content__img {
    width: 100%;
    margin: 6px 0;
  }
  .b-link {
    border-bottom: none;
  }
  .b-link a {
    border-bottom: 2px solid #ff1d3d;
  }
  .b-link a:hover {
    border-color: #000;
  }
  .b-results__item {
    height: 470px;
  }
  .b-results__item + .b-results__item {
    margin-left: 0;
  }
  .b-results__name {
    font-size: 27px;
    padding: 10px;
  }
  .b-results__role {
    font-size: 23px;
  }
  .b-results__bottom {
    font-size: 23px;
  }
  .b-results__before span, .b-results__after span {
    width: 40px;
    border-right-width: 2px;
  }
  .bx-controls {
    margin-top: 10px;
    text-align: center;
  }
  .bx-pager-item {
    display: inline-block;
    margin: 0 5px;
  }
  .bx-pager-link {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #d8d8d8;
  }
  .bx-pager-link:hover, .bx-pager-link.active {
    background-color: #ff1d3d;
  }
  .b-comments__item:nth-child(-n+10) {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .b-hero__magazineName {
    width: 126px;
    height: 94px;
    top: -41px;
    left: -37px;
    padding-top: 66px;
    padding-left: 24px;
  }
  .b-hero__magazineName span,
  .b-hero__magazineName b {
    font-size: 10px;
  }
}
